.countdown {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown div {
    padding: 20px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #17a2b8;
    opacity: 0.7;
    margin: 5px;
}

.countdown div:first-child {
    background: #17a2b8;
}

.countdown span {
    display: block;
    font-size: 25px;
}

@media (max-width: 650px) {
    .countdown {
        font-size: 30px;
        flex-direction: column;
    }

    .countdown div {
        display: none;
    }

    .countdown div:first-child {
        display: block;
        width: 80%;
        padding: 10px;
    }
}